/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*, *:before, *:after 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden 
{
    display: none;
}

/* Spacing */
h1, h2, h3, h4, h5, p, ul, ol, pre 
{
  margin-bottom: 1em;
}

/* Base */
html, body 
{
    height: 100%;
}

/* STYLE */
body 
{
  font: 16px/1 "Open Sans", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

header.site 
{
  max-width: 360px;
  margin: 40px auto 40px auto;
  text-align: center;
  position: relative;
}

.profile-text 
{
    text-align: justify;
    hyphens : auto;
    -webkit-hyphens: auto;
    font-size: 0.875em;
}

img.avatar 
{
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bbb;
}

header.site img.avatar 
{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

header.site h1
{
  margin-bottom: 10px;
}

header.site h2
{
  color: #bbb;
}

footer
{
  margin-bottom: 30px;
  text-align: center;
}

/* Typography */
/*Accent color*/
a
{
  text-decoration: none;
  color: #59a6ed;
}

a:hover
{
    color: #59a6ed;
}

ul, ol
{
    padding-left: 2em;
}

/* Line Height */
p, li, blockquote, figcaption
{
    line-height: 1.7;
    hyphens : auto;
    -webkit-hyphens: auto;
}

b, strong
{
    font-weight: bold;
}

em, i
{
    font-style: italic;
}

sup
{
    vertical-align: super;
    line-height: 0;
    font-size: 0.8em;
}

sub
{
    vertical-align: sub;
    line-height: 0;
    font-size: 0.8em;
}

article header
{
  text-align:center;
  margin-bottom: 2em;
}

article header.photos
{
    text-align: left;
    margin-top: 2em;
}

h1
{
    font-weight: 300;
    font-size: 2em;
}

h2
{
    font-weight: 300;
    font-size: 1.5em;
}

h1, h2 {
    hyphens: none;
    -webkit-hyphens: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #666;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
}

h4
{
    font-size: 1em;
    font-weight: bold;
}

h5
{
    font-size: 0.875em;
    font-weight: bold;
}

h6
{
  font-size: 0.75em;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.5em;
}

p.small
{
  color: #bbb;
  font-size: 0.875em;
  display: block;
}

blockquote
{
  padding-left: 1em;
  border-left: 0.25em solid #eee;
}

hr
{
  display: block;
  border: none;
  height: 1px;
  margin: 2em auto;
  background: #eee;
}

.footnotes
{
    font-size: 0.875em;
}

.footnotes hr
{
    display: none;
}

:not(pre) > code
{
  font-family: Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Consolas, 'Liberation Mono', monospace;
  font-size: 0.875em;
}

pre
{
  font-family: Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Consolas, 'Liberation Mono', monospace;
  padding: 1.4286em; /* 20px */
  font-size: 0.875em; /* 16px/14px */
  white-space: pre-wrap;
  overflow: auto;
}

table
{
  width: 100%;
  margin: 2.666em 0;
  border-collapse: collapse;
  font-size: 0.75em;
}

th, td
{
  text-align: left;
  padding-right: 1.666em;
  vertical-align: top;
}

table td, td
{
  border-spacing: none;
  border-style: solid;
  padding: 0.8333em 1.25em;
  border-width: 1px 0 0 0;
}

tr > td
{
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td
{
  background: #fcfcfc;
}

thead th, th
{
  text-align: left;
  padding: 0.8333em 1.25em;
  height: 1.666em;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #eee;
  cursor: default;
  white-space: nowrap;
}

article img
{
  max-width: 100%;
  max-height: 100vh;
}

.article-list
{
  margin: 2em 0 2em 0;
  padding: 1em 0 1em 0;
}

.home .article-list
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.article-list ul
{
    margin: 1em 0 0 0;
    padding: 0;
}

.article-list li
{
  list-style-type: none;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.article-list li:last-child
{
  margin-bottom: 0;
}

.article-list h2
{
  display: inline-block;
  font-size: 1em;
  margin: 0;
  flex: 1 auto;
}

.article-list time
{
  color: #bbb;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  flex: 1 0 auto;
  text-align: right;
}

article
{
  margin-top: 6em;
  margin-bottom: 3em;
}

article > aside
{
    margin-bottom: 2em;
    text-transform: uppercase;
    color: #999;
}

article footer
{
    color: #999;
    text-transform: uppercase;
    font-size: 0.875em;
    display: block;
    margin-top: 2em;
    margin-bottom: 4em;
}

.post-meta
{
  font-size: 1em;
  line-height: 1.4;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #666;
}

.post-meta img.avatar
{
  height: 48px;
  width: 48px;
  flex: 0 0 auto;
  margin-right: 1em;
  align-self: flex-start;
}

.post-meta div.details
{
  flex: 1;
}

.post-meta h1
{
  color: #666;
  font-weight: bold;
  font-size: inherit;
  margin: 0 inherit;
}

.social-list
{
    padding-left: 0;
    font-size: 0.875em;
}

.social-list li
{
    display: inline-block;
}

.social-list li+li
{
    margin-left: 2em;
}

.social
{
  margin: 40px 40px -20px 40px;
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
}

.social-link
{
  display: block;
  margin-bottom: 1.1428571429em;
  color: #666;
}

.social-link:hover
{
  color: #59a6ed;
}

/* Photos */
figure
{
    margin-bottom: 1em;
}

/* Images inside figures can be their own size but no wider than the original figure. */
figure img
{
    max-width: 100%;
    display: block;
    max-height: 100vh;
    margin: 0 auto;
}

figcaption
{
    font-size: 0.875em;
    margin: 0 2.2857142857em;
}

article p
{
    text-align: justify;
}

.article-list, section.profile, aside.post-meta, footer
{
    margin-left: 2em;
    margin-right: 2em;
}

article p, article table, article pre, article blockquote, article ol, article ul, article header,
article h1, article h2, article h3, article h4, article h5, article h6
{
    margin-left: 2em;
    margin-right: 2em;
}

article li p
{
    margin-left: 0;
    margin-right: 0;
}

/* Media Queries */
@media screen and (min-width: 620px)
{
    .article-list, section.profile, aside.post-meta, footer, .board-list
    {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }

    article p, article table, article pre, article blockquote, article ol, article ul, article header,
    article h1, article h2, article h3, article h4, article h5, article h6, article aside
    {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 380px)
{
    .post-meta
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-meta img.avatar
    {
        align-self: center;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 320px)
{
    body
    {
        font-size: 14px;
    }

}
