/** LAYOUT **/

nav
{
    background: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1.25rem;
    color: white;
}

nav a
{
    color: inherit;
    display: inline-block;
    margin: 0 1.5rem;
    min-width: 44px;
    text-align: center;
}

nav.secondary 
{
    margin-top: -2rem;
    background-color: #ccc;
    font-size: 1rem;
    color: black;
    justify-content: center;
}

nav a:first-child
{
    margin-left: 0;
    text-align: left;
}

nav a:last-child
{
    margin-right: 0;
    text-align: right;
}

#contact-container {
  margin: 0% 20%;
}

#donation-banner
{
  text-align: center;
  background: #508960;
  padding: 1rem;
  position: relative;
}

#donation-banner p
{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

#donation-banner a.button
{
    color: white;
    border-color: white;
}

#donation-banner a.button:hover
{
    background-color: rgba(255,255,255,0.5);
}

#header
{
  height: 400px;
  max-height: 25vh;
  background-color: #D3EEF9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a.donate, a.campaign
{
    border: 1px solid #666;
    margin: 0 auto;
    display: inline-block;
/*    width: 6em;*/
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}

a.donate:hover, a.campaign:hover
{
    background-color: #59a6ed;
    color: white;
}

.board-list > div
{
  font-size: 1em;
  line-height: 1.4;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #666;
}

.board-list > div img.avatar
{
  height: 150px;
  width: 150px;
  flex: 0 0 auto;
  margin-right: 1rem;
  align-self: flex-start;
  margin-bottom: 3rem;
}

.board-list > div div.details
{
  flex: 1;
}

.board-list > div h1
{
  color: #666;
  font-weight: 600;
  font-size: inherit;
  margin: 0 inherit;
}
