/** LAYOUT **/

.nav 
{
  text-align: center;
}

.nav a 
{
  color: white;
  height: 30px;
  margin-right: 1.5em;
  font-size: 20px;
  font-weight: bold;
}

nav 
{
    background: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 2em;
    position: relative;
}

nav a 
{
    color: white;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    height: 150px;
    margin-left: 2em;
}

nav a.about 
{
}

nav a.home 
{
    top: 1em;
    left: 2em;
    position: absolute;
    width: 120px;
    height: 120px;
    text-indent: -9000px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    margin: 0;
}

#banner button 
{
  color: white;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

#banner-text 
{
  color: white;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

#banner 
{
  text-align: center;
  background: black;
  padding: 1em 1em;
  position: relative;
}

#header 
{
  height: 400px;
  background-color: #D3EEF9;
  padding-top: 20px;
}

#header-logo 
{
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: auto;
}

p 
{
  font-size: 1.1em;
}

#header a.home span 
{
    display: block;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-indent: -9000px;
}

nav a.contact {
    text-align: right;
}

.donate 
{
    border: 1px solid #666;
    margin: 0 auto;
    display: block;
    width: 6em;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}

.donate:hover 
{
    background-color: #59a6ed;
    color: white;
}

/* TODO: Swap out background so text doesn't get clipped */

@media screen and (max-width: 320px)
{
  #banner-text
  {
    display: none;
  }
}

@media (min-width: 400px) 
{
  nav a
  {
    margin: auto;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


