/** LAYOUT **/

.nav {
  text-align: center;

}
.nav a {
  color: white;
  height: 30px;
  margin-right: 1.5em;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', helvetica, sans-serif;
}

nav
{
    background: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 2em;
    position: relative;
}

nav a
{
    color: white;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    height: 150px;
    margin-left: 2em;
}

nav a.about
{
}

nav a.home
{
    top: 1em;
    left: 2em;
    position: absolute;
    width: 120px;
    height: 120px;
    text-indent: -9000px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    margin: 0;
}

#header {
  height: 400px;
  background-color: #D3EEF9;
  padding-top: 40px;
}

#header-logo{
  width: 100%;
  height: 100%;
  margin: auto;
}

p{
  font-size: 1.1em;
  font-family: 'Open Sans', 'Lato', helvetica;
}

#header a.home span
{
    display: block;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-indent: -9000px;
}

nav a.contact
{
    text-align: right;
}

.donate
{
    border: 1px solid #666;
    margin: 0 auto;
    display: block;
    width: 6em;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}

.donate:hover
{
    background-color: #59a6ed;
    color: white;
}
