/* Media Queries */
@media screen and (min-width: 620px)
{
    .article-list, section.profile, aside.post-meta, footer, .board-list
    {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }

    article p, article table, article pre, article blockquote, article ol, article ul, article header,
    article h1, article h2, article h3, article h4, article h5, article h6, article aside
    {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 380px)
{
    .post-meta
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-meta img.avatar
    {
        align-self: center;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 320px)
{
    body
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px)
{
    body
    {
        font-size: 14px;
    }
    
    nav
    {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
    }
    
    nav.secondary
    {
        font-size: 0.75rem;
    }
    
    #donation-banner p
    {
        font-size: 0.75rem;
    }
    
    #donation-banner .button
    {
        margin-top: 3px;
        padding: 7px;
        font-size: .8rem;
    }
    
    #donation-banner
    {
        padding: 0.5rem;
    }

    .board-list .person
    {
        flex-direction: column;
        align-items: center;
    }
    
    .board-list .person img.avatar
    {
        align-self: auto;
    }
    
    .board-list .person h1
    {
        margin: 0 1rem;
    }
    
    .board-list .person
    {
        margin-top: 2rem;
    }
}
