<%
campaign = current_campaign()
if (campaign)
    hero_image = "#{Pathname.new('/').join(photos_path, campaign.photo)}"
    background_size = "cover"
else
    hero_image = "#{Pathname.new('/').join(images_dir, 'soundoff-logo-banner.png')}"
    background_size = "contain"
end
%>
        <div id="header" style="background-image: url(<%=url_for(hero_image)%>); background-size:<%=background_size%>">
        </div>
